%header
  = render 'shared/header'

%body
  .categoryIndexTitle
    カテゴリー一覧
  .categoryButtonList
    - @categories.each do |category|
      = link_to category.name, category_path(category.id), class: "categoryLink"


%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'