.registration6body
  .registration6header
    .progress-bar
      =link_to(root_path, class:'image') do
        = image_tag "fmarket_logo_red.svg", size: "185x49", class: "logo" 
      %nav.progress-bar
      %ol.clearfix
        %li1--gray
          会員情報
          .maru1red
        %li2--gray
          電話番号認証
          .maru2red
        %li3--gray
          お届け先住所入力
          .maru3red
        %li4--gray
          支払い方法
          .maru4red
        %li5--red
          完了
          .maru5red
        .grayline5
        .redline5

  .main-complete
    .main-complete__title
      会員登録完了
    .main-complete__contents
      %ul ありがとうございます。
      %ul2 会員登録が完了しました。
      =link_to('/', class:'main__contents__start text') do
        メルカリをはじめる 
      
  .footer
    = render 'shared/simple_footer'
