.logoutHeader {
  width: 100%;
  height: 149px;
  background-color: white;
}

.logoutMain {
  margin: 40px 193px 0px;
  padding-bottom: 40px;
  display: flex;
  .sideBar {
    width: 280px;
    height: 1252px;
    margin-right: 40px;
    background-color: white;
    box-sizing: border-box;
  }
  .mainContainer {
    width: 700px;
    height: 179px;
    background-color: white;
    color: #333333;
    box-sizing: border-box;
    padding: 64px 200px;
    .submitbtn {
      width: 320px;
      height: 50px;
      font-size: 13px;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      display: inline-block;
      background-color: #EA352D;
      color: white;
      margin: 0 auto;
      border-style: none;
    }
  }
}