.bread{
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  height: 49px;
  &__list{
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    a {
      text-decoration: none;
      color: #333333;
      &:hover {
        color: #888888;
        text-decoration: underline;
      }
    }
  }
}

.breadcrumbs-list {
  font-size: 14px;
  line-height: 1.2;
  .current {
    font-weight: bold;
  }
  .fas {
    font-size: 14px;
    color: #888;
    margin: 0 8px;
  }
} 