body{
  background-color: #f5f5f5;
}

.itemRegistrationHeader{
  text-align: center; 
  width: 100%;
  height: 128px;
  .imag {
    display:inline-block;
    margin-top: 40px;
  }
}

.itemRegistrationMain{
  .registrationHeader {
    @include centralContent();
    border-bottom: 1px solid #f1f1f1;
    height: 97px;
    text-align: center;
    margin: auto;
    font-size: 22px;
    line-height: 97px;
    font-weight: bold;
  }

  .registrationForm {
    @include centralContent();
    font-size: 14px;
    height: auto;

    .contents {
      border-bottom: 1px solid #f1f1f1;
      padding: 20px 40px;
      box-sizing: border-box;

      .formGroup {
        width: 100%;
        padding:20px 0;

        .imageUp{
          display: flex;
          label {
            width: 100%;
            display: flex;
          }
          #images2 {
            display: none;
          }

          .previewField {
            display: flex;
            margin-top: 20px;
            
            .preview {
              width: 114px;
              height: 162px;
              margin-right: 10px;
              background-color: #f5f5f5;
              border: 1px solid #eee;
              
              img {
                width: 100%;
                height: 70px;
                margin: 20px 0;
              }

              &__buttons {
                display: flex;

                .editBtnTop, .deleteBtnTop, .editBtnBottom, .deleteBtnBottom{
                  width: 50%;
                  line-height: 46px;
                  color: #0099e8;
                  background-color: #f5f5f5;
                  border: 1px solid #eee;
                  text-decoration: none; 
                  display: inline-block;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
      
          .imageUpField {
            width: 100%;
            height: 162px;
            margin-top: 20px;
            background-color: #f5f5f5;
            border:1px dashed #ccc;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            position: relative;

            &__hidden1, &__hidden2 {
              width: 100%;
              height: 162px;
              position: absolute;
              opacity: 0;
            }
          }
        }

        .form {
          position: relative;

          &__name {
            @include itemForm();
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
          }

          &__info {
            @include itemForm();
            width: 100%;
            height: 108px;
            padding: 10px;
          }

          &__select {
            @include itemForm();
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 48px;
            padding: 0 16px ;
            -webkit-appearance: none;
          }

          &__arrowIcon {
            position: absolute;
            top: 14px;
            right: 14px;
            pointer-events: none;
            
            .image {
              font-size: 20px;
              color: #888;
            }
          }
        }
      
        .leftSmallForm {
          float: left;
          width: 50%;
          height: 48px;
          display: flex;
          align-items: center;
          
          &__profitLabel {
            font-size: 16px;
            font-weight: bold;
          }
        }

        .rightSmallForm {
          float: right;
          width: 50%;
          height: 48px;
          display: flex;
          align-items: center;
          
          &__price {
            @include itemForm();
            width: 100%;
            height: 100%;
            padding: 0 16px ;
            margin: 0 0 0 10px;
            text-align: right;
          }
      
          &__commissionPrice {
            margin: 0 0 0 auto;
          }
      
          &__profitPrice {
            margin: 0 0 0 auto;
            font-size: 34px;
            font-weight: bold;
          }
        }
      
        .link {
          color: #0099e8;
          text-decoration: none;
          text-align: right;
          margin-top: 5px;
        }
      }
  
      .leftContent {
        font-size: 14px;
        color: #888888;
        float: left;
      }
  
      .rightContent {
        width: 400px;
        float: right;
      }
  
      .exhibition {
        width: 100%;
        padding: 20px 0;

        p {
          a {
            color: #0099e8;
            text-decoration: none;
          }
       }

        &__btn {
          width: 100%;
          line-height: 48px;
          display: block;
          margin-top: 40px;
          color: #fff;
          background-color: #ea352d;
          border: 1px solid  #ea352d;
          cursor: pointer;
        }
  
        &__back {
          width: 45%;
          line-height: 48px;
          display: block;
          margin: 24px auto 0;
          text-align: center;
          color: #fff;
          background-color: #aaa;
          border: 1px solid  #aaa;
          text-decoration: none;
        }
      }
  
      .fontBolder {
        @include fontBolder();
      }

      .hissuBtn {
        @include hissuBtn();
      }

      .ninniBtn {
        @include ninniBtn();
      }

      // 販売手数料枠
      .commission {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 4px 0;
      }

      #brand{
        display: none;
      }

      #how_to_deliver {
        display: none;
      }
    } 
    
    .clearfix {
      @include clearfix();
    }
  }
}


.itemRegistrationFooter{
  height: 220px;
  width: 456px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu{
    height: 12px;
    width: 456px;
    font-size: 12px;
    text-align: center; 


    a{
    color: #333333;
    text-decoration: none;
    }
    .privacybtn{
      margin-right: 15px;
    }
    .transactionbtn{
      margin-left: 15px;
    }
  }
  
  .logo2{
    margin-top: 40px;
  }
  p{
    text-align: center; 
    font-size: 13px;
    color: #333333;
  }
}

