.images{
  display: flex;
}

.about{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  height: 388px;

  &__box{
    height: 310px;
    width: 1020px;
    font-size: 16px;
    padding-top: 18px;
    margin-left: 190px;
    display: flex;
    position: relative;

    &--text{
      width: 210px;
      height: 277px;
      padding: 0px 40px 0px 0px;

    }
      
      &--textIn{
        height: 100px;
        width: 210px;
        font-size: 12px; 

        ul{
          display: inline-block;
        }     

        li{
          margin: 16px 0px 0px;
        }

        *{
          color: white;
          text-decoration: none; 
        }
      }


    &--text1{
      width: 210px;
      height: 277px;
      padding: 0px 40px 0px 0px;
    }

    &--text2{
      width: 455px;
      height: 200px;
      padding: 0px 40px 0px 0px;
    }

    &--text5 {
      width: 455px;
      height: 200px;
      padding-top: 22px;
  }

    &--text3{
      width: 100px;
      height: 200px;
      padding: 0px 40px 0px 0px;
    }
 }

  &__logo{
    width: 100%;
    height: 78px;
    margin-left: 650px;
  }


.footer_logo{
  font-size: 30px;
  float: left;
  margin-top: 30px;
}

.footer_logo1{
  font-size: 30px;
  margin-top: 30px;
  
  a{
    margin-left: 20px;
    margin-top: 30px;
  }

 }
  &__bottom{
    width: 1020px;
    height: 77px;
    margin-left: 190px;
    padding-top: 30px;
    display: flex;
  }
}
  
.about__bottom--name{
  width: 100%;
  margin-left: 50px;
  p {
   text-align: center;
   margin-right: 150px;
  }

}

.about__box--textIn *{
  opacity: 0.9;
}


.fixed_btn
  {
    position: fixed;
    bottom: 30px; 
    right: 30px;
    padding: 6px 40px;
    width: 160px;
    height: 160px;
    line-height: 150px;
    margin: 0 auto;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    background: #ea352d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    
    // position: relative;
  }

  .fa-camera:before {
    content: "";
    color: white;
}
fieldset, img {
  border: 0;
  margin-top: -63px;
}

element.style {
  width: 100%;
  text-align: center;
}

.camera-icon{
  display: block;
  margin-top: -100px;
  font-size: 60px;
}
.btn-name{
  margin-top: -30px;
  display: block;
  color: white;
  text-decoration: none;
}
.logo-btn{
  text-decoration: none;
  color: white;
}


