.topheader{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 3;
  

  .main{
    width: 1020px;
    margin: auto;
    height: 100px;
    padding: 0px;

    &__top{
      width: 100%;
      height: 50%;
      padding-top: 10px;
      display: flex;
      background-color: rgb(255, 255, 255);
    }

    .free-logo{
      margin-top: -43px;
    }

      .main__top--search{
        position: relative;
      }

    .icon{
      position: absolute;
      top: 13px;
      right: 20px;
    }

    .fa-search:before {
      color: black;
  }

  .hidden {
    display: none;
  }

  .card-nomber-form{
    background-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    padding: 0px 50px 0px 10px;
    height: 40px;
    width: 830px;
    margin-left: 20px;
    outline: none;
  }

    &__bottom{
      width: 104%;
      height: 50%;
      padding-top: 10px;
      background-color: rgb(255, 255, 255);


    
    }

    ul { 	
      display: flex;
      font-size: 14px;
      line-height: 36px;

    .num2{
      margin-left: 3%;
    }

    .num3{
      margin-left: 20%;
    }

    .num4{
      margin-left: 5%;     
    }

    .num5{
      margin-left: 4%;
    }

    .num6{
      margin-left: 3%;
    }

    .num7{
      margin-left: 50%;
    }

    .num8{
      margin-left: 1%;
    }

    .fa-bars:before {
      color: rgb(234, 53, 45);
    }
    .fa-tag:before{
      color: rgb(234, 53, 45);
    }
    .fa-heart:before{
      color: rgb(204, 204, 204);
    }

    .fa-bell:before{
      color: rgb(204, 204, 204);
    }

    .fa-check:before{
      color: rgb(204, 204, 204);
    }
    *{
      text-decoration: none;
      font-weight: 600;
      color: black;
    }
    button.button8 {
      background-color: rgb(234, 53, 45);
      color: rgb(255, 255, 255);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(234, 53, 45);
      border-image: initial;
      border-radius: 4px;
      padding: 8px 10px;
  }
  button.button9 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 149, 238);
    display: block;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 149, 238);
    border-image: initial;
    border-radius: 4px;
    padding: 8px 10px;
    transition: all 0.3s ease-out 0s;
}
  }
}
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


#fucnBtn{
  position: fixed; right: -10px; bottom: -10px;
  display: block;
  transition:
  right 0.2s ease-out 0s,
  bottom 0.2s ease-out 0s,
  opacity 0.2s ease-out 0s,
  transform 0.2s ease-out 0s;
  }

  * { margin: 0; padding: 0; }