@mixin centralContent() {
  width: 700px;
  background-color: white;
  margin: 0 auto;
}

@mixin formarea() {
  width: 343px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #dbd6d6;
  box-shadow: none;
  margin-top: 8px;
  padding: 10px 16px 8px;
  box-sizing: border-box;
}

@mixin x() {
  font-size: 14px;
  font-weight: bolder;
  display: inline-block;
}

@mixin y() {
  width: 32px;
  height: 22px;
  border-radius: 3px;
  background-color: #ea352d;
  color: white;
  font-size: 12px;
  margin-left: 8px;
  padding: 4px 4px;
  box-sizing: border-box;
  line-height: 15px;
  vertical-align: top;
}

@mixin z() {
  font-size: 14px;
  color: #888888;
  margin-top: 8px;
}
