
.registration5body{
  background-color: #f5f5f5;
  height: 100vh;
}

.registration5header{
  text-align: center; 
  width: 100%;
  height: 128px;
  display: flex;
  padding:40px 0;
  
  .progress-bar{
    text-align: center;
    margin: auto;
    display:flex;
  }

  .logo{
    margin: 0 40px 0 0;
    text-align: center;
  }
  
  //赤丸のクラス名を入力
  .maru1red, .maru2red, .maru3red, .maru4red, .maru5red {
  background:#ea352d;
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  }

  //赤文字のli番号を入力
  li5--red {
    font-weight: 600;
    color: #ea352d;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    margin-right: 40px;
  }
  
  li1--gray, li2--gray, li3--gray, li4--gray {
  z-index: 5;
  display: inline-block;
  font-size: 12px;
  color: #888;
  margin-right: 40px;
  }

  .grayline5 {
    display: block;
    content: '';
    width: 434px;
    border-bottom: solid 3px #ccc;
    margin-top: -8px;
    margin-left: 30px;
  }
  
  //赤ラインのwidthの値を変更
  .redline5 {
  width: 434px;
  display: block;
  content: '';
  border-bottom: solid 3px #ea352d;
  margin-top: -3px;
  margin-left: 30px;
  } 
}
  
  
  

.main-complete {
  width: 700px;
  height: 344px;
  background-color: #ffffff;
  text-align: center; 
  margin: auto;
  margin-bottom: 60px;
  &__title{
    font-size: 22px;
    padding: 32px;
    font-weight: bold;
  }
  &__contents{
    border-top: 1px #f5f5f5 solid;
    height: 247px;
    padding-left: 180px;
    font-size: 14px;
    ul{
      padding-top: 50px;
      padding-right: 150px;
    }
    ul2 {
      padding-right: 150px;
    }
    .text {
    background-color: #EA352D;
    height: 50px;
    width: 343px;
    color: #FFFFFF;
    border-radius: 4px;
    line-height: 48px;
    display: block;
    text-decoration: none;
    margin-top: 30px;
    position: relative;
    }
  }
}  
  

.footer{
  @include footer();
}