.confirmationbody{
  background-color: #f5f5f5;
  font-size:14px;
  font-weight: normal;
  font-variation-settings: normal;
}

.confirmationHeader{
  text-align: center; 
  width: 100%;
  height: 128px;
  .imag {
    display:inline-block;
    margin-top: 40px;
  }
}

.confirmationMain{
  background-color: white;
  width: 700px;
  height: 780px;
  margin: 0 auto;
  font-weight: normal;

        &__title{
        border-bottom: 1px solid #f1f1f1;
        height: 97px;
        text-align: center;
        margin: 0 auto;
        font-size: 22px;
        line-height: 97px;
        font-weight: bold;
        }
        &__menu{
          font-weight: normal;
          display:flex;
          margin: 30px 190px 0;
          height: 110px;
          .name{
            margin:10px; 
            font-weight: normal;
          }
          
          .nedan{
            font-weight: bold;
            margin-left:10px; 
          }  
        }
        &__price{
          margin: 0 auto;
          border-top: 1px solid #f1f1f1;
          height: 97px;
              &__pay{
                display:flex;
                font-size:22px;
                font-weight: bold;
                margin: 20px auto 0 auto;
                
                //支払い金額
                .price1{
                  margin-left: 25%;
                }
                //商品の値段
                .nedan1{
                  margin-left:140px;
                }
                }
              &__box{
                margin-top: 10px;
                display:flex;  
                margin-left:25%;
                .checkbox-input{
                  font-size:30px;
                  display:flex;
                  margin-top:8px;
                  position: relative;
                }
                .point{
                  color:gray;
                  display:flex;
                  margin-top:8px;
                  margin-left:5px;
                  font-weight: normal;
                }  
              }      
        }
        &__payment{
          margin: 20px auto 0 auto;
          width: 343px;
          border-top: 1px solid #f1f1f1;
          .Method{
            font-weight: bold;
            margin-top: 30px;
          }
          .Credit ,.Nomber,.Deadline{
            margin-top: 3px;
            font-weight: normal;
          }
        }
        &__delivery{
          margin: 20px auto 0 auto;
          border-top: 1px solid #f1f1f1;
          border-bottom: 1px solid #f1f1f1;
          width: 343px;
          font-weight: normal;
              &__change{
              display:flex;
              margin-top: 30px;
                .Delivery{
                  font-weight: bold;
                }
                .Change1{
                  color:#0099E8;
                  text-decoration: none;
                  margin-left: 65%;
                }
                .Change1:hover{
                  text-decoration: underline;
                }
            }
            //〒と住所
            .add{
              margin-top: 3px;
            }
            //宛名
            .add3{
              margin-top: 3px;
              margin-bottom: 30px;
            }
        }  

        .purchaseBtn{
          background-color: grey;
          height: 50px;
          width: 343px;
          color: #ffffff;
          border-radius: 4px;
          line-height: 48px;
          display: block;
          text-decoration: none;
          position: relative;
          text-align: center; 
          margin: 30px auto 0 auto;
          }
}


.confirmationFooter{
  height: 140px;
  width: 456px;
  margin: auto;
  padding: 40px 0px;
  &__menu{
    height: 12px;
    width: 456px;
    font-size: 12px;
    text-align: center; 
    a{
    color: #333333;
    text-decoration: none;
    font-weight: normal;
    }
    .privacybtn{
      margin-right: 15px;
    }
    .transactionbtn{
      margin-left: 15px;
    }
  }
  .mercarirogo{
    margin: 20px 180px 0;
  }
}  
  .maruc{
    text-align: center; 
    font-size: 13px;
    color: #333333;
    font-weight: normal;
    margin: 0 auto;
  }
