@mixin text() {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

@mixin pagination() {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  text-decoration: none;
  color: #333333;
  background-color: white;
  border: 1px #cccccc solid;
  border-radius: 4px;
  a {
    color: #333333;
  }
  &:hover {
    background-color: #eeeeee;
  }
}

a {
  text-decoration: none;
}

body {
  .categoriesList {
    width: 1020px;
    height: 30px;
    margin: 40px auto 24px;
    display: flex;
    .middleCategoryLink {
      color: #0099E8;
      font-size: 14px;
      margin-right: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .categoryTitle {
    width: 1020px;
    font-size: 22px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .itemsAllInCategory {
    width: 1060px;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .itemBox {
      width: 188px;
      height: 298px;
      margin-right: 20px;
      margin-bottom: 20px;
      .box {
        display: block;
      }
      .itemBoxDescription {
        width: 188px;
        height: 110px;
        background-color: white;
        padding: 16px;
        .name {
          @include text();
          height: 3em;
          overflow: hidden;
          display: inline-block;
          position: relative;
          &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 1.5em;
            background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
          }
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          .price {
            @include text();
            font-weight: bold;
          }
          .like {
            @include text();
            display: flex;
            .fas {
              line-height: 1.5;
              color: #cccccc;
            }
          }
        }
      }
    }
  }
  
  .pagination {
    width: 1020px;
    height: 44px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    a {
      width: 44px;
      height: 44px;
      display: block;
    }
    .page {
      @include pagination();
    }
    .current {
      background-color: #ea352d;
      color: white;
      &:hover {
        background-color: #ea352d;
      }
    }
    .next {
      @include pagination();
      position: absolute;
      right: 44px;
    }
    .last {
      @include pagination();
      position: absolute;
      right: 0;
    }
    .first {
      @include pagination();
      position: absolute;
      left: 0px;
    }
    .prev {
      @include pagination();
      position: absolute;
      left: 44px;
    }
  }
  .categoryDescription {
    width: 1020px;
    margin: 30px auto;
    &__title {
      width: 1020px;
      height: 54px;
      background-color: #ea352d;
      color: white;
      text-align: center;
      line-height: 54px;
      font-size: 22px;
      font-weight: bold;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &__text {
      width: 1020px;
      background-color: white;
      padding: 30px;
      font-size: 14px;
      color: #333333;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}