
.l-content{
  float: right;
  width: 700px;
  a{
    text-decoration: none;
  }
  &__mypage-user-icon{
    height: 200px;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: pink;
    a{
      font-weight: bold;
      color: #000;
    }
    img {
      border-radius: 50%; 
      height: 60px;
      width: 60px;
      margin-right: 35px;
    }
    .bold{
      margin: 30px 30px 0 0;
    }
    .mypage-number{
      font-size: 14px;
      display: flex;
      margin: 8px 0 0;

      &__evaluation{
        width:70px;
        height: 16px;
        justify-content: center;
        margin-left: 250px;
      }
      &__mypage-number__items{
        width:70px;
        height: 16px;
        display: inline-block;
        margin-left: 16px;
      }
    }
  }
  &__mypage-tab-container-notification-todo{
    margin: 0;
    background: #fff;
    .mypage-tabs{
      border: 0;
      display: flex;
      a{
        font-weight: bold;
        color: #000;
        font-size: 16px;
      }
      .active{
        font-size: 22px;
        font-weight:bold;
        width: 50%;
        text-align:center;
        height: 72px;
        line-height: 330%;
        border: none;
        cursor: default;
        vertical-align: top;
        border-top:2px solid #ea352d;
        &:hover{
          color:#fafafa;
        }
      }
      .active-right{
        font-size: 22px;
        width: 50%;
        text-align: center;
        line-height: 330%;
        background-color:#eee;
      }
    }
  }
    .tabs-content{
      display: block;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      &-notification{
        border-bottom: 1px solid #eee;
        min-height: 58px;
        padding: 16px;
        color:#333;
        background-color: #fff;
        display: flex;
        position: relative;
        &:hover{
          background-color: #fafafa;
        }
        .fa.fa-chevron-right{
          margin-right: 10px;
          float: right;
          position: absolute;
          top:50%;
          right: 16px;
        }
        .logo_red{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
          margin: 0;
        }
        img{
          width: 48px;
          height: 48px;
        }
        &__body{
          margin: 0 40px 0 68px;
          position: relative;
        }
        .far.fa-clock{
          line-height: 50%;
          display: inline-block;
          color: #888;
          margin: 0 8px 0 0;
          position: absolute;
        }
        .fa-clock:before {
          content: "";
          position: absolute;
          right: 228px;
          top: 37px;
        }
      }
      &-notification__see{
        border: 0;
        padding: 16px;
        background: #fff;
        &_buttom{
          display:block;
          height: 56px;
          margin: 0 auto;
          background-color: #eee;
          color: black;
          line-height: 56px;
          text-align: center;
          &:hover{
            background-color:#fafafa;
          } 
        }  
      }
    }
  &__purchase-box{
    background-color: #fff;
    margin-top: 40px;
    .purchase-tab-head{
      padding: 0 16px;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
      background: #fafafa;
    }
    .purchase-tabs{
      border: 0;
      background: #eee;
      display: flex;
      a{
        color: #000;
        font-weight: bold;
        font-size: 16px;
      }
      .present{
        font-size: 22px;
        font-weight:bold;
        width: 50%;
        text-align:center;
        height: 74px;
        line-height: 330%;
        border: none;
        cursor: default;
        vertical-align: top;
        border-top:2px solid #ea352d;
        background: #fff;
      }
      .past{
        font-size: 22px;
        width: 50%;
        text-align: center;
        height: 74px;
        line-height: 330%;
      }
    }
    .box-content{
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      &-block{
        display: block;
        .transaction{
          padding: 80px 0 60px;
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          img{
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}