.sellItemsAll {
  width: 700px;
  height: auto;
  color: #333333;
  .sellTabHeader {
    height: 72px;
    padding: 0px 16px;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
    }
  .sellTabs {
    padding: 0px;
    display: flex;
    .tab {
      width: calc(700px / 3);
      height: 74px;
      background-color: gray;
      padding: 0px 16px;
      color: white;
      font-weight: bold;
      line-height: 74px;
      text-align: center;
      text-decoration: none;
      &--white {
        color: #333333;
        background-color: white;
      }
    }
    .linkToEachItems {
      .itemLink {
        width: 700px;
        height: 83px;
        background-color: white;
        padding: 16px;
        display: flex;
        .image {

        }
        .information {
          display: flex;
          .title {
            font-size: 14px;
          }
          .data {
            display: flex;
            .fa {
              vertical-align: middle;
              color: #ccc;
            }
            span {
              color: #888888;
              margin-left: 2px;
              font-size: 16px;
            }
            p {
              width: 48px;
              height: 22px;
              border-radius: 2px;
              background-color: #0099E8;
              padding: 5px 6px;
              margin-top: 8px;
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
